// Pipeline parameters
params {
    // Input FASTQ files, should be a glob like 'data/fastq/SRR1258338*_R{1,2}.fastq.gz'
    reads = null

    // Final output dir
    outdir = null

    // Trimming
    save_trimmed_reads = false

    // Host genome removal
    host_removal_method = "kraken"  // One of: 'kraken' or 'align' or 'none'
    host_asm = null
    host_index = null
    save_hostremove_kraken = false
    save_hostremove_align = false
    save_host_index = false

    // Kraken and Bracken DBs
    // If wanting to use Kraken/Bracken with a DB that is already on file, use this param:
    krakendb_classif = null
    krakendb_host = null
    brackendb = null
    metaphlandb = null

    // If wanting to use Kraken with a custom-built DB, use this param to provide a dir with genomes to add:  
    krakendb_classif_add = null
    krakendb_host_add = null
    // If wanting to use Kraken with a custom-built DB, use this param to provide a comma-separated list of 1 or more libraries
    // The library options are: 'archaea', 'bacteria', 'viral', 'plasmid', 'human', 'fungi', 'plant', 'protozoa', 'UniVec', 'UniVec_Core', 'nr', 'nt'
    // Example list: 'plant,viral,plasmid'
    krakendb_classif_libs = null
    krakendb_host_libs = null

    // Parameters for running Bracken
    bracken_taxlevel = "S"
    bracken_minreads = 10
    bracken_readlen = 150

    // Parameters for running Kraken
    // NCBI tax. ids of taxa to remove; if multiple, space-separated like '615 1024':
    kraken_tax_remove = "33090 33208"      // Viridiplantae and Metazoa 
    kraken_host_confidence = 0.15
    kraken_host_minhitgroups = 3
    kraken_classif_modes = ['low', 'high']
    kraken_classif_confidence_high = 0.15
    kraken_classif_minhitgroups_high = 3
    kraken_classif_confidence_low = 0
    kraken_classif_minhitgroups_low = 1

    // Skipping processes
    skip_kraken = false
    skip_bracken = false
    skip_assembly = true                  // Skipped by default for now (IN DEVELOPMENT)
}

// Software environments
singularity {
    enabled = true
    autoMounts = true
}

// General process config
process.errorStrategy = 'finish' // change to 'retry' in final version

// Containers
process {
    withName: 'FASTQC' {
        container = 'oras://community.wave.seqera.io/library/fastqc:0.12.1--0827550dd72a3745'
    }
    withName: 'FASTP' {
        container = 'oras://community.wave.seqera.io/library/fastp:0.23.4--4ea6310369653ec7'
        //oras://community.wave.seqera.io/library/fastp:1.0.1--a5a7772c43b5ebcb //TODO UPDATE
    }
    withName: 'KRAKEN.*' {
        container = 'oras://community.wave.seqera.io/library/kraken2:2.1.3--fb44221536fbccbe'
    }
    withName: 'KRAKEN_EXTRACT' {
        container = 'oras://community.wave.seqera.io/library/krakentools:1.2.1--eadd1bd18b288b7e'
    }
    withName: 'BRACKEN.*' {
        container = 'oras://community.wave.seqera.io/library/bracken:2.9--6e7be2645b4721b9'
    }
    withName: 'KRONA' {
        container = 'oras://community.wave.seqera.io/library/krona:2.8.1--5a95c9c594fd031b'
    }
    withName: 'ASSEMBLY' {
        container = 'oras://community.wave.seqera.io/library/spades:3.15.5--5ae53542733e7564'
    }
    withName: 'MULTIQC' {
        container = 'oras://community.wave.seqera.io/library/multiqc:1.31--e111a2e953475c51'
    }
    withName: 'HOST_INDEX|HOST_REMOVE_ALIGN' {
        container = 'oras://community.wave.seqera.io/library/bowtie2_python:bef6732c3362f2dd'
    }
    withName: 'MAP2ASSEMBLY' {
        container = 'oras://community.wave.seqera.io/library/bedtools_bwa_samtools:357203cb0c27dd40'
    }
    withName: 'CONCOCT' {
        container = 'oras://community.wave.seqera.io/library/concoct:1.1.0--c18be443b5bd4901'
    }
    withName: 'MAXBIN2' {
        container = 'https://depot.galaxyproject.org/singularity/maxbin2:2.2.7--he1b5a44_2'
    }
    withName: 'METABAT2' {
        container = 'oras://community.wave.seqera.io/library/metabat2:2.18--e67c47d4c0457dda'
    }
    withName: 'DREP' {
        errorStrategy = 'ignore' // This will fail if no genomes pass the filtering steps
        container = 'oras://community.wave.seqera.io/library/drep:3.6.2--acd451a39c1712b0'
    }
    withName: 'METAPHLAN.*' {
        container = 'oras://community.wave.seqera.io/library/metaphlan:4.2.2--5b86ed2eae4ab4ea'
    }
    withName: 'READCOUNT.*' {
        container = 'oras://community.wave.seqera.io/library/seqkit:2.10.1--d24fc76f20b6af54'
    }
    withName: '.*_BIOM_.*' {
        container = 'oras://community.wave.seqera.io/library/kraken-biom:1.2.0--74237e1dbdb823cd'
    }
}

// Resource config specific to individual or groups of processes
process {
    withName: 'HOST_REMOVE_ALIGN' {
        time = 12.h
        cpus = 16
        memory = 64.GB
    }
    withName: 'KRAKENDB_BUILD' {
        time = 24.h
        memory = { 365.GB * task.attempt }
        cpus = 20
    }
    withName: 'BRACKENDB_BUILD' {
        time = 3.h
        memory = { 500.GB * task.attempt }
        cpus = 20
    }
    withName: 'KRAKENDB_DL_LIB' {
        time = 12.h
    }
    withName: 'KRAKEN' {
        time = 30.min
        memory = { 365.GB * task.attempt }
        cpus = 12
    }
    withName: 'KRAKEN_EXTRACT' {
        time = 5.h
        memory = { 80.GB * task.attempt }
        cpus = 12
    }
    withName: 'ASSEMBLY' {
        time = 12.h
        memory = 160.GB
        cpus = 14
    }
    withName: 'METAPHLAN' {
        memory = 50.GB
        cpus = 10
    }
    withName: 'MAXBIN2' {
        memory = 1000.GB
        cpus = 15
    }
    withName: 'BRACKEN' {
        errorStrategy = 'ignore' // This will fail if there are not enough reads
    }
}

// Publishdir, ext.args, etc. config for processes
process {

    withName: READCOUNT_PRE {
        publishDir = [
            [
                path: { "${params.outdir}/hostremove/readcounts/pre" },
                pattern: '*.tsv',
                mode: 'copy'
            ]
        ]
    }

    withName: READCOUNT_POST {
        publishDir = [
            [
                path: { "${params.outdir}/hostremove/readcounts/post" },
                pattern: '*.tsv',
                mode: 'copy'
            ]
        ]
    }

    withName: KRAKEN_HOSTRM {
        publishDir = [
            [
                path: { "${params.outdir}/hostremove/kraken/by-sample" },
                pattern: '*.txt',
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/hostremove/kraken/logs" },
                pattern: '*.log',
                mode: 'copy'
            ]
        ]
    }

    withName: HOST_REMOVE_ALIGN {
        publishDir = [
            [
                path: { "${params.outdir}/hostremove/align/logs" },
                pattern: '*.txt',
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/hostremove/align/fastq" },
                pattern: '*.fastq.gz',
                enabled: params.save_hostremove_align,
                mode: 'copy'
            ]
        ]
    }

    withName: KRAKEN_CLASSIFY_HIGH {
        publishDir = [
            [
                path: { "${params.outdir}/classif-read/kraken/high/by-sample" },
                pattern: '*.txt',
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/classif-read/kraken/high/classify/logs" },
                pattern: '*.log',
                mode: 'copy'
            ]
        ]
    }
    withName: KRAKEN_CLASSIFY_LOW {
        publishDir = [
            [
                path: { "${params.outdir}/classif-read/kraken/low/by-sample" },
                pattern: '*.txt',
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/classif-read/kraken/low/classify/logs" },
                pattern: '*.log',
                mode: 'copy'
            ]
        ]
    }

    withName: BRACKEN_HIGH {
        publishDir = [
            [
                path: { "${params.outdir}/classif-read/bracken/high/by-sample" },
                pattern: '*.txt',
                mode: 'copy'
            ]
        ]
    }

    withName: BRACKEN_LOW {
        publishDir = [
            [
                path: { "${params.outdir}/classif-read/bracken/low/by-sample" },
                pattern: '*.txt',
                mode: 'copy'
            ]
        ]
    }

    withName: KRAKEN_EXTRACT {
        publishDir = [
            [
                path: { "${params.outdir}/hostremove/kraken_extract" },
                pattern: '*.log',
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/hostremove/kraken_extract" },
                pattern: '*.fastq.gz',
                enabled: params.save_hostremove_kraken,
                mode: 'copy'
            ]
        ]
    }

    withName: KRONA_ON_HOSTRM {
        publishDir = [
            [
                path: { "${params.outdir}/hostremove/krona" },
                pattern: '*.html',
                mode: 'copy'
            ]
        ]
    }

    withName: KRONA_ON_CLASSIFY_HIGH {
        publishDir = [
            [
                path: { "${params.outdir}/classif-read/krona/kraken/high" },
                pattern: '*.html',
                mode: 'copy'
            ]
        ]
    }
    withName: KRONA_ON_CLASSIFY_LOW {
        publishDir = [
            [
                path: { "${params.outdir}/classif-read/krona/kraken/low" },
                pattern: '*.html',
                mode: 'copy'
            ]
        ]
    }

    withName: KRONA_ON_BRACKEN_HIGH {
        publishDir = [
            [
                path: { "${params.outdir}/classif-read/krona/bracken/high" },
                pattern: '*.html',
                mode: 'copy'
            ]
        ]
    }
    withName: KRONA_ON_BRACKEN_LOW {
        publishDir = [
            [
                path: { "${params.outdir}/classif-read/krona/bracken/low" },
                pattern: '*.html',
                mode: 'copy'
            ]
        ]
    }

    withName: KRAKEN_BIOM_HIGH {
        publishDir = [
            [
                path: { "${params.outdir}/classif-read/kraken/high/biom" },
                pattern: '*.biom',
                mode: 'copy'
            ]
        ]
    }
    withName: KRAKEN_BIOM_LOW {
        publishDir = [
            [
                path: { "${params.outdir}/classif-read/kraken/low/biom" },
                pattern: '*.biom',
                mode: 'copy'
            ]
        ]
    }

    withName: BRACKEN_BIOM_HIGH {
        publishDir = [
            [
                path: { "${params.outdir}/classif-read/bracken/high/biom" },
                pattern: '*.biom',
                mode: 'copy'
            ]
        ]
    }
    withName: BRACKEN_BIOM_LOW {
        publishDir = [
            [
                path: { "${params.outdir}/classif-read/bracken/low/biom" },
                pattern: '*.biom',
                mode: 'copy'
            ]
        ]
    }

    withName: FASTP {
        publishDir = [
            [
                path: { "${params.outdir}/read-qc/fastp" },
                pattern: '*.html',
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/read-qc/fastp/reads" },
                pattern: '*.fastq.gz',
                enabled: params.save_trimmed_reads,
                mode: 'copy'
            ]
        ]
    }
}

// Profiles
profiles {
    standard {
        process.executor = 'slurm'
        process.clusterOptions = '--account=PAS2693'
        process.time = { 3.h * task.attempt }
        process.cpus = { 5 * task.attempt }
        process.memory = { 20.GB * task.cpus }
        process.resourceLimits = [ time: 168.h ]
    }
    no_largemem {
        process.executor = 'slurm'
        process.clusterOptions = '--account=PAS2693'
        process.time = { 3.h * task.attempt }
        process.cpus = { 5 * task.attempt }
        process.memory = { 20.GB * task.cpus }
        process.resourceLimits = [ time: 168.h, memory: 175.GB ]
    }
    test_local {
        process.executor = 'local'
        process.cpus = 1
        process.memory = 1.GB
        process.resourceLimits = [ cpus: 1, memory: 1.GB, time: 1.h ]
    }
    test_slurm {
        process.executor = 'slurm'
        process.clusterOptions = '--account=PAS2693'
        process.memory = 4.GB
        process.cpus = 1
        process.time = 1.h
        process.resourceLimits = [ cpus: 4, memory: 16.GB, time: 10.h ]
    }
}
