// Pipeline parameters
params {
    // Input FASTQ files, should be a glob like 'data/fastq/SRR1258338*_R{1,2}.fastq.gz'
    reads = null

    // Final output dir
    outdir = null

    // Trimming
    save_trimmed_reads = false

    // Host genome removal
    host_removal_method = "kraken"  // One of: 'kraken' or 'align' or 'none'
    save_hostremoved_reads = false
    host_asm = null
    host_index = null

    // Kraken and Bracken DBs
    // If wanting to use Kraken/Bracken with a DB that is already on file, use this param:
    krakendb_classif = null
    krakendb_host = null
    brackendb = null
    metaphlandb = null

    // If wanting to use Kraken with a custom-built DB, use this param to provide a dir with genomes to add:  
    krakendb_classif_add = null
    krakendb_host_add = null
    // If wanting to use Kraken with a custom-built DB, use this param to provide a comma-separated list of 1 or more libraries
    // The library options are: 'archaea', 'bacteria', 'viral', 'plasmid', 'human', 'fungi', 'plant', 'protozoa', 'UniVec', 'UniVec_Core', 'nr', 'nt'
    // Example list: 'plant,viral,plasmid'
    krakendb_classif_libs = null
    krakendb_host_libs = null

    // Parameters for running Bracken
    bracken_taxlevel = "S"
    bracken_minreads = 10
    bracken_readlen = 150

    // Parameters for running Kraken
    // NCBI tax. ids of taxa to remove; if multiple, space-separated like '615 1024':
    kraken_tax_remove = "33090 33208"      // Viridiplantae and Metazoa 
    kraken_host_confidence = 0.15
    kraken_host_minhitgroups = 3
    kraken_classif_confidence = 0
    kraken_classif_minhitgroups = 1

    // Skipping processes
    skip_kraken = false
    skip_bracken = false
    skip_assembly = true                  // Skipped by default for now (IN DEVELOPMENT)
}

// Software environments
singularity {
    enabled = true
    autoMounts = true
}

// General process config
process.errorStrategy = 'finish' // change to 'retry' in final version

// Containers
process {
    withName: 'FASTQC' {
        container = 'oras://community.wave.seqera.io/library/fastqc:0.12.1--0827550dd72a3745'
    }
    withName: 'FASTP' {
        container = 'oras://community.wave.seqera.io/library/fastp:0.23.4--4ea6310369653ec7'
    }
    withName: 'KRAKEN.*' {
        container = 'oras://community.wave.seqera.io/library/kraken2:2.1.3--fb44221536fbccbe'
    }
    withName: 'KRAKEN_EXTRACT' {
        container = 'community.wave.seqera.io/library/krakentools:1.2--5332070a89999eef'
    }
    withName: 'BRACKEN.*' {
        container = 'oras://community.wave.seqera.io/library/bracken:2.9--6e7be2645b4721b9'
    }
    withName: 'KRONA' {
        container = 'oras://community.wave.seqera.io/library/krona:2.8.1--5a95c9c594fd031b'
    }
    withName: 'ASSEMBLY' {
        container = 'oras://community.wave.seqera.io/library/spades:3.15.5--5ae53542733e7564'
    }
    withName: 'MULTIQC' {
        container = 'oras://community.wave.seqera.io/library/multiqc:1.22.1--ac0a91c1ae1c160c'
    }
    withName: 'HOST_INDEX|HOST_REMOVE_ALIGN' {
        container = 'oras://community.wave.seqera.io/library/bowtie2_python:bef6732c3362f2dd'
    }
    withName: 'MAP2ASSEMBLY' {
        container = 'oras://community.wave.seqera.io/library/bedtools_bwa_samtools:357203cb0c27dd40'
    }
    withName: 'CONCOCT' {
        container = 'oras://community.wave.seqera.io/library/concoct:1.1.0--c18be443b5bd4901'
    }
    withName: 'MAXBIN2' {
        container = 'https://depot.galaxyproject.org/singularity/maxbin2:2.2.7--he1b5a44_2'
        errorStrategy = 'ignore'
    }
    withName: 'METABAT2' {
        container = 'oras://community.wave.seqera.io/library/metabat2:2.17--0ae4a8dfde1fdde6'
    }
    withName: 'DREP' {
        errorStrategy = 'ignore'
        container = 'oras://community.wave.seqera.io/library/drep:3.5.0--3ffa6b3ed09e0e84'
    }
    withName: 'METAPHLAN.*' {
        errorStrategy = 'ignore'
        container = 'oras://community.wave.seqera.io/library/metaphlan:4.1.1--e8c9391dfdfc7caf'
    }
}

// Resource config specific to individual or groups of processes
process {
    withName: 'HOST_REMOVE_ALIGN' {
        time = 12.h
        cpus = 16
        memory = 64.GB
    }
    withName: 'KRAKENDB_BUILD' {
        time = 24.h
        memory = { 365.GB * task.attempt }
        cpus = 20
    }
    withName: 'BRACKENDB_BUILD' {
        time = 3.h
        memory = { 500.GB * task.attempt }
        cpus = 20
    }
    withName: 'KRAKENDB_DL_LIB' {
        time = 12.h
    }
    withName: 'KRAKEN' {
        time = 30.min
        memory = { 365.GB * task.attempt }
        cpus = 12
    }
    withName: 'KRAKEN_EXTRACT' {
        time = 5.h
        memory = { 80.GB * task.attempt }
        cpus = 12
    }
    withName: 'ASSEMBLY' {
        time = 12.h
        memory = 160.GB
        cpus = 14
    }
    withName: 'METAPHLAN' {
        memory = 32.GB
        cpus = 8
    }
}

// Publishdir, ext.args, etc. config for processes
process {
    withName: KRAKEN_HOSTRM {
        publishDir = [
            [
                path: { "${params.outdir}/kraken/hostremove" },
                pattern: '*.txt',
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/kraken/hostremove/logs" },
                pattern: '*.log',
                mode: 'copy'
            ]
        ]
    }

    withName: HOST_REMOVE_ALIGN { //! ADDED THIS 2024-11-13
        publishDir = [
            [
                path: { "${params.outdir}/bowtie" },
                pattern: '*.txt',
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/kraken/hostremove" },
                pattern: '*.fastq.gz',
                enabled: params.save_hostremoved_reads,
                mode: 'copy'
            ]
        ]
    }

    withName: KRAKEN_CLASSIFY {
        publishDir = [
            [
                path: { "${params.outdir}/kraken/classify" },
                pattern: '*.txt',
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/kraken/classify/logs" },
                pattern: '*.log',
                mode: 'copy'
            ]
        ]
    }

    withName: KRAKEN_EXTRACT {
        publishDir = [
            [
                path: { "${params.outdir}/kraken_extract" },
                pattern: '*.log',
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/kraken/hostremove" },
                pattern: '*.fastq.gz',
                enabled: params.save_hostremoved_reads,
                mode: 'copy'
            ]
        ]
    }

    withName: KRONA_ON_HOSTRM {
        publishDir = [
            [
                path: { "${params.outdir}/krona/hostremove" },
                pattern: '*.html',
                mode: 'copy'
            ]
        ]
    }
    withName: KRONA_ON_CLASSIFY {
        publishDir = [
            [
                path: { "${params.outdir}/krona/classif" },
                pattern: '*.html',
                mode: 'copy'
            ]
        ]
    }

    withName: FASTP {
        publishDir = [
            [
                path: { "${params.outdir}/fastp" },
                pattern: '*.html',
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/fastp/reads" },
                pattern: '*.fastq.gz',
                enabled: params.save_trimmed_reads,
                mode: 'copy'
            ]
        ]
    }
}

// Profiles
profiles {
    standard {
        process.executor = 'slurm'
        process.clusterOptions = '--account=PAS2693'
        process.time = { 3.h * task.attempt }
        process.cpus = { 5 * task.attempt }
        process.memory = { 20.GB * task.cpus }
        process.resourceLimits = [ time: 168.h ]
    }
    no_largemem {
        process.executor = 'slurm'
        process.clusterOptions = '--account=PAS2693'
        process.time = { 3.h * task.attempt }
        process.cpus = { 5 * task.attempt }
        process.memory = { 20.GB * task.cpus }
        process.resourceLimits = [ time: 168.h, memory: 175.GB ]
    }
    owens {
        process.executor = 'slurm'
        process.clusterOptions = '--account=PAS2693 --clusters=owens'
        process.time = { 3.h * task.attempt }
        process.cpus = { 5 * task.attempt }
        process.memory = { 20.GB * task.cpus }
        process.resourceLimits = [ time: 168.h ]
    }
    test_local {
        process.executor = 'local'
        process.cpus = 1
        process.memory = 1.GB
        process.resourceLimits = [ cpus: 1, memory: 1.GB, time: 1.h ]
    }
    test_slurm {
        process.executor = 'slurm'
        process.clusterOptions = '--account=PAS2693'
        process.memory = 4.GB
        process.cpus = 1
        process.time = 1.h
        process.resourceLimits = [ cpus: 4, memory: 16.GB, time: 10.h ]
    }
}
